name: ci

on:
  pull_request:
    branches:
      - trunk

jobs:
  test-spaceporn:
    strategy:
      matrix:
        dep:
          - cimgui.zig
          - shaderc.zig
        os:
          - ubuntu-latest
          - windows-latest
        zig_opts:
          - ''
          - '-Ddev'
          - '-Dturbo'
    runs-on: "${{ matrix.os }}"
    steps:
    - uses: actions/checkout@v4
      with:
        repository: "${{ github.repository_owner }}/${{ matrix.dep }}"

    - name: Prepare CI
      id: prepare
      shell: bash
      run: |
        sha="$(git rev-parse HEAD)"
        printf 'sha=%s\n' "${sha}" >> "${GITHUB_OUTPUT}"

    - uses: actions/checkout@v4
    - uses: ./
      with:
        repository: "${{ github.repository_owner }}/${{ matrix.dep }}"
        additional_zig_opts: "${{ matrix.zig_opts }}"
        sha: "${{ steps.prepare.outputs.sha }}"
        user: 'spaceporn'
        token: "${{ github.token }}"
        test_build: 'true'
        test_update: 'false'
        test_fetch: 'false'
    - uses: actions/checkout@v4
      if: matrix.os != 'windows-latest'
  test:
    strategy:
      matrix:
        repo:
          - dep: toolbox
            user: vulkan.zig
          - dep: toolbox
            user: wayland.zig
          - dep: toolbox
            user: X11.zig
          - dep: toolbox
            user: glfw.zig
          - dep: toolbox
            user: cimgui.zig
          - dep: toolbox
            user: spirv.zig
          - dep: toolbox
            user: glslang.zig
          - dep: toolbox
            user: shaderc.zig
          - dep: vulkan.zig
            user: glfw.zig
          - dep: wayland.zig
            user: glfw.zig
          - dep: X11.zig
            user: glfw.zig
          - dep: glfw.zig
            user: cimgui.zig
          - dep: spirv.zig
            user: shaderc.zig
          - dep: glslang.zig
            user: shaderc.zig
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: "${{ github.repository_owner }}/${{ matrix.repo.dep }}"

    - name: Prepare CI
      id: prepare
      run: |
        sha="$(git rev-parse HEAD)"
        printf 'sha=%s\n' "${sha}" >> "${GITHUB_OUTPUT}"

    - uses: actions/checkout@v4
    - uses: ./
      with:
        repository: "${{ github.repository_owner }}/${{ matrix.repo.dep }}"
        additional_zig_opts: "${{ matrix.repo.user == 'cimgui.zig' && '-Dplatform=GLFW -Drenderer=Vulkan' || '' }}"
        sha: "${{ steps.prepare.outputs.sha }}"
        user: "${{ matrix.repo.user }}"
        token: "${{ github.token }}"
        test_build: 'false'
        test_update: 'true'
        test_fetch: 'true'
    - uses: actions/checkout@v4
